body{
    font-family: 'Nunito', sans-serif;
    margin: 0px;
}
a{
    color: #3476a5;
}
a:hover{
    color: #73b8e8;
    text-decoration: none;
}

#service-dropdown-id ~ label, #service-dropdown-id-mob ~ label {
    position: relative;
}
.services-dropdown{
    display: none;
    color: #3476a5;
}
.services-dropdown-con{
    position: relative;
}
#service-dropdown-id:checked ~ label .caret-down, #service-dropdown-id-mob:checked  ~ label .caret-down, .caret-up{
    display: none;
}

#service-dropdown-id:checked ~ label .caret-up, #service-dropdown-id-mob:checked  ~ label .caret-up{
    display: inline;
}
#service-dropdown-id:checked ~ label .services-dropdown, #service-dropdown-id-mob:checked  ~ label .services-dropdown{
    display: block;
    position: absolute;
    width: 200px;
    background: white;
    border: 1px solid #3476a5;
    border-radius: 5px;
    padding: 10px;
    left: -75px;
    top: 33px;
}
.menu-list-style li{
    padding: 5px 15px;
    cursor: pointer;
}
@media screen and (min-width: 1300px) {
    .container{
        max-width: 1250px;
    }
}
.pitch-pro-common-preview{
    position: relative;
    margin-top: -72px;
}
.menu-items{
    margin-top: 20px;
}
.menu-items li{
    color: #3476a5;
}
header.main-header-container{
    position: sticky;
    top: -1px;
    z-index: 2;
    height: 72px;
    background-color: transparent;
    /* background-color: rgba(0, 0, 0,  0.12); */
    backdrop-filter: blur(4px);
    background: #dee1e654;
}
/* Nav bar start */
#nav-check-box{
    display: none;
}

.navigation-panel{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #789db7;
    top: 72px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}
#nav-check-box:checked ~ .navigation-panel{
    left: 0;
}
#nav-check-box:checked ~ .three-nav-con, .cross-nav-con{
    display: none;
}
#nav-check-box:checked ~ .cross-nav-con{
    display: block;
}
.list-menu-mobile{
    padding-top: 30px;
}
.list-menu-mobile.menu-list-style li{
    padding: 15px 15px;
    color: #fff;
}
.list-menu-mobile a{
    color: #fff;
}
.list-menu-mobile a:hover{
    color: #000;
}
/* Nav bar End */

.header-menu-font{
    padding-left: 10px;
    line-height: 1.2rem;
    color: #fff; 
}
.contact-us{
    margin-top: 10px;
}
.main-section-intro{
    position: absolute;
    top: 0px;
    width: 100%;
}
.pitch-pro-logo{
    width: 196px;
    /* margin-left: -4%; */
    position: absolute;
    left: 5%;
}
#intro-video{
    width: 100%;
}
#intro-video-mobile{
    width: 100%;
}
.contact-top-header{
    background-color: #124dd9;
    padding: 10px 0px;
    height: 50px;
}
/* Mobile View main section */
@media screen and (max-width: 970px) {
    .pitch-pro-common-preview{
        margin-top: 0px;
    }
    .pitch-pro-logo{
        width: 150px;
    }
    header.main-header-container{
        background-color: #eaedef;
        display: flex;
        align-items: center;
    }
    .funding-section-info .funding-title{
        max-width: 100% !important;
    }
}
.main-section-intro{
    padding-top: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -100px;
    padding-bottom: 60px;
    font-size: 16px;
}
.main-section-intro h1{
    font-size: 3rem;
    font-weight: 800;
    color: #3476a5;
}
.main-section-intro p{
    font-size: 1.4rem;
    font-weight: 400;
    max-width: 677px;
    color: #3476a5;
    padding-top: 20px;
}
.main-section-intro .white-button, .get-start-btn{
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem; 
    border-radius: 1.5rem;
}
.main-section-intro .white-button{
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 1rem;
}
.get-start-btn{
    background: #fff;
    color: #000;
}
.primary-color{
    background: #fff;
    background: #3476a5;
    border: none;
    color: #fff;
}
.primary-color:hover{
    background: #4298d4;
    color: #fff;
}
.main-section-btn-group{
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.menu-list-style li{
    padding: 5px 15px;
}


/* Perk Section */
.perk-paragraph{
    font-size: 1rem;
    font-weight: 500;
    max-width: 300px;
    padding-left: 20px;
}
.perk-percentage-con, .funding-card-info{
    margin-bottom: 18px;
}
.perk-percentage{
    background: #67a0c8;
    padding: 26px 20px;
    border-radius: 100%;
    font-size: 30px;
    font-weight: 900;
    color: white;
}
.perk-percentage.low-perk{
    padding: 26px 29px;
}
.percentage-brief-section{
    padding: 45px 0px;
}

/* Funding Section CSS */
.funding-section-info{
    font-size: 16px;
}
.funding-section-info .funding-title{
    font-size: 3rem;
    font-weight: 600;
    color: #212529;
    max-width: 70%;
    text-align: center;
    margin-bottom: 4rem !important;
}
.funding-section-info h3{
    font-size: 3.5rem;
    font-weight: 700;
    color: #1B66C9;
    /* color: #67a0c8; */

    margin: 0px;
}
.funding-card-info{
    background-color: #ebebeb;
    padding: 1.6rem;
    border-radius: 20px;
}
.funding-card-title{
    font-size: 1.5rem;
    padding: 0rem 3rem;
    font-weight: 600;
    line-height: 1.8rem;
}

/* Redifining Css */
.section-redifine-container{
    font-size: 16px;
    margin-top: 60px;
}
.section-redifine-content{
    background-color:#e1ebf3;
    padding: 3rem;
    border-radius: 20px;
}
.deck-redifine-heading{
    font-size: 3rem;
    font-weight: 600;
}
.deck-redifine-paragraph{
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5rem; 
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    width: 90%;
}

/* First Impresstion */
.first-impress-container{
    font-size: 16px;
}
.first-impress-heading{
    text-align: center;
    padding-top: 4rem;
    font-size: 2.9rem;
    font-weight: 600;
    margin-bottom: 3rem !important;
}
.impression-img-brief{
    padding-bottom: 4rem;
}
.impression-img-con{
    width: 70px;
}
.impression-img-paragraph{
    margin: 0px;
    padding-left: 10px;
    max-width: 200px;
}

/* Investment Section */
.investor-deck-container{
    background-color: #d4d6d7;
    background-color: #3476a5;
    font-size: 16px;
    padding: 60px 0px;
}
.investor-deck-title{
    font-size: 2rem;
    font-weight: 600;
    padding-right: 80px;
    color: white;
}
.investor-presentation{
    padding: 58px 0px 45px 60px;
    background: #fff;
    border-radius: 30px;
}
.investor-presentation img{
    width: 80px;
    height: 80px;
}
.investor-present-sub{
    padding-left: 2rem;
}
.investor-present-title{
    font-size: 1.7rem;
    font-weight: 800;
    margin-bottom: 15px;
    padding-right: 1rem;
    line-height: 2rem;
}

/* Live breath Container */
.live-breath-container{
    font-size: 16px;
    padding-top: 6rem;
}
.live-breath-heading{
    font-size: 3rem;
    line-height: 3rem;
}
.live-breath-para{
    font-size: 1rem;
    line-height: 1.4rem;
    padding-top: 20px;
    font-weight: 700;
    padding-bottom: 3rem;
}

.featured-in{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
/* Talk to us section */
.contact-form-container{
    background: #e1ebf3;
}
.contact-talk-us{
    font-size: 3rem;
    font-weight: 700;
}
.contact-talk-paragraph{
    font-size: 1.5rem;
    font-weight: 400;
}

/* Common Footer */
.pitch-pro-footer-logo{
    width: 200px;
    margin-left: -3%;
    margin-top: -10%;
}
.pitch-pro-common-footer{
    font-size: 16px;
    padding-top: 4rem;
}

.address-footer{
    padding-top: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
}
.footer-menu-list h5{
    font-size: 0.9rem;
    font-weight: 700;
}
.menu-list-items-footer{
    font-size: 0.9rem;
    font-weight: 400;
}
.menu-list-items-footer li{
    padding: 4px 0px;
}
.email-connect-svg{
    padding: 0.5rem 0.7rem;
    border-radius: 2rem;
    margin-right: 1rem;
}
.phone-connect-svg{
    padding-right: 10px;
}
.phone-connect-item{
    background: aliceblue;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 2rem;
}
#spin-on{
    display: none;
}
@media screen and  (max-width: 425px) {
    .container{
        padding: 0px 20px;
    }
    .funding-section-info h3{
        font-size: 2.5rem;
        font-weight: 700;
    }
    .funding-card-title{
        font-size: 1.0rem;
        line-height: 1.3rem;
        padding: 0rem 1rem;
        font-weight: 700;
    }
    
    .contact-top-header{
        height: 80px;
    }
}

@media screen and (max-width: 600px) {
    .section-redifine-content{
        padding: 1rem;
        font-weight: 700;

    }
    .deck-redifine-paragraph{
        font-size: 1rem;
        font-weight: 800;
        width: 95% !important;
    }
    .main-section-intro h1, .first-impress-heading,
    .funding-section-info .funding-title, .deck-redifine-heading{
        font-size: 1.8rem;
        max-width: 100% !important;
        font-weight: 700;
    }
    .investor-presentation{
        padding: 25px 20px 25px 20px;
        text-align: center;
    }
    .deck-redifine-heading{
        padding-top: 2rem;
        text-align: center;
        padding-bottom: 1rem;
    }
    .section-redifine-content{
        padding-bottom: 2rem
    }
    .impression-img-brief{
        margin-left: 30px;
    }
    .investor-deck-title{
        font-size: 1.5rem;
    }
    .investor-present-title{
        font-size: 1.2rem;
    }
    .investor-present-sub{
        padding-left: 0rem;
    }
    .live-breath-heading{
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 700;
    }
    .news-letter{
        justify-content: start;
        gap: 20px;
        padding-bottom: 40px;
    }
    .main-section-intro{
        margin-top: -100px;
    }
}

.help-block{
    color: red;
    font-weight: 400;
    padding-top: 1px;
}