body{
    font-family: 'Nunito', sans-serif;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, div{
    user-select: none;
}


/* Main Header and Navigation section start */
header.main-header-container{
    position: sticky;
    top: -1px;
    z-index: 2;
    height: 72px;
    background-color: transparent;
    /* background-color: rgba(0, 0, 0,  0.12); */
    backdrop-filter: blur(4px);
    background: #dee1e654;
}
.menu-items{
    margin-top: 20px;
}
.menu-items li{
    color: #3476a5;
}
.menu-list-style div{
    padding: 5px 15px;
    cursor: pointer;
}
.list-menu-mobile.menu-list-style div{
    padding: 15px 15px;
    border-bottom: 1px solid #3476a5;
    color: #fff;
}
.services-dropdown-con{
    position: relative;
}
#service-dropdown-id ~ label, #service-dropdown-id-mob ~ label {
    position: relative;
}
#service-dropdown-id:checked ~ label .caret-down, #service-dropdown-id-mob:checked  ~ label .caret-down, .caret-up{
    display: none;
}

#service-dropdown-id:checked ~ label .caret-up, #service-dropdown-id-mob:checked  ~ label .caret-up{
    display: inline;
}
#service-dropdown-id:checked ~ label .services-dropdown{
    display: block;
    position: absolute;
    width: 300px;
    background: white;
    border: 1px solid #3476a5;
    border-radius: 5px;
    padding: 10px 0px;
    left: -75px;
    top: 40px;
}
.services-dropdown-list{
    display: block;
    padding: 5px 20px;
    transition: all 0.2s ease;
}
.services-dropdown-list:hover{
background: #3476a5;
 color: #fff;
}
#service-dropdown-id-mob ~ .services-dropdown .services-dropdown-list{
    padding: 12px 5px;
    border-bottom: 1px solid #3476a5;
    color: #3476a5;
    font-size: 14px;
    font-weight: 800;
    background: #fff;
}
#service-dropdown-id-mob:checked  ~ .services-dropdown{
    display: block;
    position: relative;
    width: 100%;
    /* background: white; */
    /* border: 1px solid #3476a5; */
    border-radius: 5px;
    padding: 10px;
    border: 1px solid transparent;
    left: 6%;
    top: 7px;
}
.services-dropdown{
    display: none;
    color: #3476a5;
}
.primary-color{
    background: #fff;
    background: #3476a5;
    border: none;
    color: #fff;
}
.primary-color:hover{
    background: #4298d4;
    color: #fff;
}
#nav-check-box:checked ~ .three-nav-con, .cross-nav-con{
    display: none;
}
#nav-check-box:checked ~ .cross-nav-con{
    display: block;
}
#nav-check-box{
    display: none;
}
.cross-nav-mobile{
    padding-top: 20px;
    position: relative;
    height: 62px;
    left: 40%;
    padding-right: 30px;
}
.navigation-panel{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 0px;
    left: -105%;
    text-align: center;
    transition: all .5s;
    box-shadow: 10px 0 5px -3px #e2dcdc;
}
.dropdown-video{
    width: 75vw;
    position: fixed;
    left: -100%;
    top: 0px;
    height: 100vh;
    object-fit: cover;
    transition: all 0.75s;
} 
#nav-check-box:checked ~ .navigation-panel{
    left: -25%;
}
#nav-check-box:checked ~ .navigation-panel .dropdown-video{
    left: 0%;
}
.list-menu-mobile{
    padding-top: 30px;
    margin-top: 0px;
    position: relative;
    text-align: left;
    padding-right: 10px;
    left: 30%;
    max-height: 500px;
    overflow-y: auto;
    width: 60%;
    border-bottom: 1px solid #3476a5;
}
.list-menu-mobile.menu-list-style div.contact{
    border-bottom: 0px solid;
}
.navigation-logo-img{
    margin-left: 5%;
    width: 50%;
}
.list-menu-mobile.menu-list-style div{
    padding: 15px 15px;
    color: #3476a5;
    font-weight: 800;
}

.list-menu-mobile a:hover{
    color: #000;
}
.pitch-pro-logo{
    width: 196px;
    /* margin-left: -4%; */
    position: absolute;
    left: 5%;
}
/* Mobile View main section */
@media screen and (max-width: 970px) {
    header.main-header-container{
        background-color: #eaedef;
        /* background-color: #eaedefc4; */
        display: flex;
        align-items: center;
    }
    .pitch-pro-logo{
        width: 150px;
        top: 4px;
    }
}

/* Main Header and Navigation End */

/* Footer Main Start */
.pitch-pro-common-footer{
    font-size: 16px;
    padding-top: 4rem;
}
.pitch-pro-footer-logo{
    width: 200px;
    margin-left: -3%;
    margin-top: -10%;
}
.pitch-pro-common-footer{
    font-size: 16px;
    padding-top: 4rem;
}

.address-footer{
    padding-top: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
}
.footer-menu-list h5{
    font-size: 0.9rem;
    font-weight: 700;
}
.menu-list-items-footer{
    font-size: 0.9rem;
    font-weight: 400;
}
.menu-list-items-footer li{
    padding: 4px 0px;
    cursor: pointer;
}
.email-connect-svg{
    padding: 0.5rem 0.7rem;
    border-radius: 2rem;
    margin-right: 1rem;
}
.phone-connect-svg{
    padding-right: 10px;
}
.phone-connect-item{
    background: aliceblue;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 2rem;
}

a, a:visited, a:hover {
    color: #3476a5;
    text-decoration: none;
    background-color: transparent;
}
.wa-us-container{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.wa-us-call{
    padding: 13px;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0px 0px 10px -3px;
}
.linked-in-connect{
    padding-top: 20px;
}
.connection-wrap{
    color: #000;
    text-decoration: none;
}
/* Footer Main End */

/* Common Css for common works */
.common-para{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}


/* Talk to us section */
.contact-form-container{
    background: #e1ebf3;
}
.contact-talk-us{
    font-size: 3rem;
    font-weight: 700;
}
.contact  a{
    color: #fff;
}
.contact-talk-paragraph{
    font-size: 1.5rem;
    font-weight: 400;
}
#spin-on{
    display: none;
}


.help-block{
    color: red; 
    font-weight: 400;
    padding-top: 1px;
}