.job-headings, .bottom-div-container {
    text-align: center;
}
.job-headings{
    font-weight: 800;
}
.bottom-line{
    display: inline-block;
    height: 5px;
    width: 140px;
    margin-top: -5px;
    background: #3476a5;
    border-radius: 10px;
}
.bottom-div-container{
    margin-top: -10px;
}
.card-displayer-container{
    margin-top: 30px;
}
.card-job-title{
    color: #3476a5;
}
.card-container-openings{
    box-shadow: 0 2px 9px 2px rgb(0 0 0 / 47%);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.job-position-content{
    margin-top: 30px;
}
.carrer-talk-us{
    font-size:2.5rem;
    font-weight: 800;
}
.email-us-btn{
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem; 
    border-radius: 0.5rem;
    background: #3476a5;
    border: 1px solid transparent;
    color: #fff;
    margin-top: 15px;
}
.card-container-openings p{
   margin-bottom: 5px;
}
.contact a{
    color: #fff;
}
input[type="file"].form-control{
    padding: 4px;
}
@media screen and (max-width: 970px) {
    .carrer-talk-us {
        font-size: 2rem;
        font-weight: 800;
    }
    .contact-talk-paragraph {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.7rem;
    }
    
}