body{
    font-family: 'Nunito', sans-serif;
    margin: 0px;
}
a{
    color: #3476a5;
}

.map-view-container img{
    max-height: 400px;
    max-width: 600px;
    border-radius: 16px;
}
@media screen and (min-width: 1300px) {
    .container{
        max-width: 1250px;
    }
}
#intro-video{
    width: 100%;
}
#intro-video-mobile{
    width: 100%;
}

.menu-list-style > li{
    padding: 5px 15px;
}
.pitch-pro-footer-logo{
    width: 200px;
    margin-left: -3%;
    margin-top: -10%;
}
.menu-list-style li{
    padding: 5px 15px;
    cursor: pointer;
}


@media screen and (max-width: 970px) {
    .pitch-pro-common-preview{
        margin-top: 0px;
    }

    .perk-percentage-con{
        margin-bottom: 20px;
    }
    .funding-section-info .funding-title{
        max-width: 100% !important;
    }
}


.header-menu-font{
    padding-left: 10px;
    line-height: 1.2rem;
    color: #fff; 
}
.contact-us{
    margin-top: 10px;
}
.get-start-btn {
    background: #fff;
    color: #000;
}
.get-start-btn{
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem; 
    border-radius: 1.5rem;
}
.contact-top-header{
    background-color: #124dd9;
    padding: 10px 0px;
    height: 50px;
    position: relative;
}
.main-header-container{
    background-color: #124dd9;
}


.main-header-container{
    background-color: #124dd9;
}
/* Nav bar start */
#nav-check-box{
    display: none;
}



/* Nav bar End */


/* Common Footer */
.pitch-pro-common-footer{
    font-size: 16px;
    padding-top: 4rem;
}

.address-footer{
    padding-top: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
}
.footer-menu-list h5{
    font-size: 0.9rem;
    font-weight: 700;
}
.menu-list-items-footer{
    font-size: 0.9rem;
    font-weight: 400;
}
.menu-list-items-footer li{
    padding: 4px 0px;
}
.email-connect-svg{
    padding: 0.5rem 0.7rem;
    border-radius: 2rem;
    margin-right: 1rem;
}
.phone-connect-svg{
    padding-right: 10px;
}
.phone-connect-item{
    background: aliceblue;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 2rem;
}

/* Talk to us section */
.contact-form-container{
    background: #e1ebf3;
}
.contact-talk-us{
    font-size: 3rem;
    font-weight: 700;
}
.contact-talk-paragraph{
    font-size: 1.5rem;
    font-weight: 400;
}

/* contact us page css */
.contact-heading{
    font-size: 3.5rem;
    font-weight: 700;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.map-address-title{
    font-size: 3rem;
    font-weight: 600; 
}
.contact-list-item{
    font-size: 1rem;
    font-weight: 500;
    padding: 14px 0px;
    gap: 20px;
}
.contact-list-item > img{
    height:20px;
}
.map-address-container{
    padding-left: 20px;
}
.email-connect-svg{
    padding: 0.5rem 0.7rem;
    border-radius: 2rem;
    margin-right: 1rem;
}
.help-block{
    color: red;
    font-weight: 400;
    padding-top: 1px;
}   
#spin-on{
    display:none;
}

@media only screen and (max-width: 900px) {
    .contact-heading{
      font-size: 2.5rem;
      padding: 1rem;
    }
    .map-address-container{
        padding-left: 0px;
    }
    .home-icon svg{
        height:40px;
        width: 40px;
    }
    .map-address-title{
        font-size: 2rem;
        font-weight: bold;
        margin-top: 30px;
    }
}